	body {
	}
	#debug1 {
		display:block;
	}
	.js-mindmap-active h1 {
	   display:none;
	}
	.js-mindmap-active section h1 {
	   display:block;
	}
	.js-mindmap-active .node {
		
		font-family:verdana;
		font-size:11px;
		color:#003258;
        opacity:0.9;
		padding:0 7px;
		cursor:pointer;
		cursor:hand;

		list-style:none;
	}
	.js-mindmap-active a.node {
        font: 30px/34px Arial, sans-serif;
        font-size:1em;
        letter-spacing: 0;
        display:block;
        color:white;
        text-align:center;
        text-decoration:none;
	}
	.js-mindmap-active .node.active{
        font-size:1.5em;
	}
	.js-mindmap-active .node.active  a{
		color:#003258;
	}
	.js-mindmap-active .node.activeparent  a{
		color:#001228;
	}
	.js-mindmap-active img.line {
		
		width:200px;
		height:133px;
		
		display:block;
	
	}
    .ui-draggable {
        position:absolute;
    }
	.js-mindmap-active .node .node-action {
	
	  text-align:center;
	  vertical-align:super;
	}
